.content{
  min-width: 350px;
  width:85%;
}

.row {
  border-color: darkgray;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  margin: 0px, 25px, 0px, 25px;
  
}

.columnLeft {
  padding-left: 20px;
  text-align: left;
}

.columnRight {
  padding-right: 20px;
  text-align: right;
}

.grid {
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 265px;
  width: 85%;
  margin-top: 1rem;
  vertical-align: top;
  background: #FFFFFF;
  position: relative;
  border: 5px solid #DEA22A;
  margin: 20px;
  border-radius: 20px;
}

.founder{
  display: flexbox;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  display:'flex';
  width:"100%";
  border-radius: 20px;
  margin-top: 30px;
}

.grid:after {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  /*background: #9DEB1D;*/
  z-index: -1;
  border-radius: 20px;
}
.card {
  display: flex;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}
