.content{
  max-width: 100%;
}

.contentSingleColumn{
  max-width: 100%;
}

.contentSingleColumn .card {
  margin: 1rem;
  min-width: 250px;
  max-width: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  background-color: aquamarine;
}

.contentSingleColumn .opt{
  margin: 0.3rem;
  flex-basis: 47%;
  padding: 5px;
  display: flex;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  word-wrap: break-word;
  background-color: khaki;
}


.grid {
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 99%;
  margin-top: 1rem;
  vertical-align: top;
}

.card {
  margin: 1rem;
  min-width: 250px;
  max-width: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  background-color: bisque;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card p {
  margin: 0;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

.moreButton {
  height: 100%;
  width: 100%;
  background-color: transparent;
  font-size: x-large;
}

.opt{
  margin: 0.3rem;
  flex-basis: 47%;
  padding: 5px;
  display: flex;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  word-wrap: break-word;
  background-color:lightcoral;
}

.optData{
  text-align: left;
  word-wrap: break-word;
}

.optData *{
  text-align: left;
  word-wrap: break-word;
}

.optBullet{
  text-align: left;
  margin-right: 5px;
  padding-right: 5px;
}

.questionOptions{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 1rem;
  vertical-align: top;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
