  .main{
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    max-width: 450px;
    margin-top: 1rem;
    margin-left: 1rem;
    border: 1px solid #eaeaea;
    border-radius: 5px;
  }

  .cardLabel {
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
    color: inherit;
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    vertical-align: middle;
  }

  .cardInput {
    margin-left: 1rem;
    margin-right: 1rem;
    flex-basis: 95%;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    vertical-align: middle;
    display: contents;
  }

  .cardLabel label {
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    min-width: 123px;
  }

  .cardInput textarea {
    justify-content: center;
    text-align: center;
    width: 85%;
    height: 60px;
    border-radius: 8px;
  }


  .cardInput button:disabled {
    width: 143px;
    height: 40px;
    margin-top: 4px;
    padding: 0.35em;
    margin: 5px;
    border-radius: 8px;
    background-color: lightgrey;
  }

  .cardInput button:enabled {
    width: 143px;
    height: 40px;
    margin-top: 4px;
    padding: 0.35em;
    margin: 5px;
    border-radius: 8px;
    background-color: lightseagreen;
  }